<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Chart Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        /* Add a custom style for responsive images */
        .responsive-img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    
    <h1>Credit Card Fraud Detection</h1>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Home</a>
    <a href="{{ url_for('single_query') }}" class="btn btn-secondary">Single Query</a>
    <a href="{{ url_for('mass_predict') }}" class="btn btn-secondary">Mass Upload</a>
    <p></p>
    <h2>Data Visualization</h2>
    <p></p>
    
    <!-- Display saved images -->
    <img src="{{ url_for('static', filename='pics/total_pie.png') }}" alt="Total Purchases Pie Chart" class="responsive-img">
    
    <img src="{{ url_for('static', filename='pics/fem_pie.png') }}" alt="Female Purchases Pie Chart" class="responsive-img">
    
    <img src="{{ url_for('static', filename='pics/man_pie.png') }}" alt="Male Purchases Pie Chart" class="responsive-img">
    
    <img src="{{ url_for('static', filename='pics/bar_plot.png') }}" alt="Bar Chart" class="responsive-img">
    
    
</body>
</html>